/*Общие стили и стили для страницы index*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.visually-hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
}

/*Удаляю стили для списков на всех страницах (<ul>)*/
.navigation-list, .navigation-user, .advantages-list, .services-list, .footer-social-list, .catalog-view, .catalog-filter-group, .catalog-filter-list, .product-list, .pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page-header-logo-link {
  display: block;
  width: 138px;
  height: 64px;
  margin-right: 30px;
}

.page-header-logo {
  position: relative;
}


/*Навигация по сайту*/
.page-header-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.site-navigation {
  display: flex;

}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

/*Навигация юзера*/
.navigation-user {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.logo-search {
  background-image: url("/images/icons/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  background-color: transparent;
  border: none;
}

.navigation-user-favorites-link {
  display: inline-flex;
  background-image: url("/images/icons/like.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
  width: 20px;
  height: 20px;
}

.main-container {
  flex-grow: 1;
}

.button-want {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  margin-left: 20px;
  border: none;
}

.hero {
  background-image: url("/images/backgrounds/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
  text-align: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item-azure, .services-item {
  width: 400px;
  height: 385px;
}

.services-title-advantages {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 69px 290px 25px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.services-description-advantages {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0px 274.5px 69px;
  color: #333333;
  background-color: #FFFFFF;
}

.services-title-services {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 64px 347px 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.services-description-services {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 355px 64px;
  color: #333333;
  background-color: #FFFFFF;
}

.services-title-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.services-description-search {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #FFFFFF;
}

.services-title-white {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.services-title-black {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button-search {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  border: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.create-line {
  width: 60px;
  margin: 30px 170px;
  border-top: solid 2px #FFFFFF4D;
}

.create-line-dark {
  width: 60px;
  margin: 30px 170px;
  border-top: solid 2px #0000004D;
}

.advantages-item-blue, .advantages-item-white, .advantages-item-azure {
  width: 400px;
  height: 385px;
}

.advantages-list, .visually-hidden {
  text-align: center;
}

.services-item {
  background-color: #FFFFFF;
  text-align: center;
}

.advantages-title-white {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 102px;
}

.advantages-item-blue {
  background-color: #82B3D3;
}

/*делаю список с фото из инлайного элемента на флекс, чтобы ушел баг с отсупом под фоткой*/
.advantages-photo {
  display: flex;
}

.advantages-description-white {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 102px;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-white {
  background-color: #FFFFFF;
}

.advantages-item-azure {
  background-color: #83B3D333;
}

.services-item-azure {
  background-color: #83B3D31F;
  text-align: center;
}

.image-housing {
  background-image: url("/images/icons/services-icon-housing.svg");
  background-repeat: no-repeat;
  width: 77px;
  height: 72px;
  margin: 81px 162.5px 30px 162.5px;
}

.image-food {
  background-image: url("/images/icons/services-icon-food.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 72px;
  margin: 81px 163.5px 31px 162.5px;
}

.image-gifts {
  background-image: url("/images/icons/services-icon-gifts.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
  margin: 81px 162.5px 30px 162.5px;
}

.services-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.services-name-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search {
  background-color: #FFFFFF;
  text-align: center;
  height: 214px;
  padding: 96px 304px;
}

.services-description-index-white {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-bottom: 54px;
  text-align: center;
  color: #FFFFFF;

}

.subscribe {
  color: #FFFFFF;
  background-color: aquamarine;
  background-image: url("/images/backgrounds/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 96px 40px 104px;
  margin: 0 auto;
  box-sizing: border-box;
  /*box-sizing используется чтобы засуммировать паддинги с высотой и шириной*/
  /*если 2 значения: то верх/низ и лево/право*/
  /*если 3 значения: то верх лево/право и низ*/
}

.form {
  text-align: center;
  display: flex;
  justify-content: center
}

.field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 452px;
  height: 52px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.button-subscribe {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  width: 232px;
  height: 52px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;

}

.page-footer {
  text-align: center;
  background-color: #FFFFFF;
  height: 120px;
}

.footer-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-social-list, .footer-html-link {
  display: flex;
  align-self: center;
}

.social-link {
  display: inline-flex;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-vk {
  background-image: url("/images/icons/vk.svg");
}

.button-social-tg {
  background-image: url("/images/icons/telegram.svg");
}

.button-social-youtube {
  background-image: url("/images/icons/youtube.svg");
}

/*Cтили для страницы catalog*/
.filter-container {
  background-image: url("/images/backgrounds/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  max-width: 1200px;
  padding: 35px 70px 70px;
  margin: 0 auto;
}

.fieldset-container {
  display: flex;

}

.catalog-filter-group {
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.buttons-submit-reset {
  border: none;
  width: 191px;

}


/*Стили для внутреннего хэдера*/
.header-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

/*Стили для хлебных крошек*/
.breadcrumbs-item {
  font-size: 16px;
  color: #FFFFFF;
}

/*Стили для стрелки*/
.right-arrow {
  transform: rotate(-45deg);
}

i {
  border: solid #FFFFFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration-line: none;
}

/*Стили для заголовка фильтра */
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

/*Стили для лейбла фильтра */
.control {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.price-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

/*Стили для границ выбора */
.range-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: right;
}

.button-submit, .button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-submit {
  background-color: #82B3D3;
  width: 191px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.button-reset {
  border: none;
  background-color: transparent;
  width: 191px;
  height: 36px;
  border-radius: 4px;
}

.filter-view {
  padding: 50px 70px 40px;
  display: flex;
}

.search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.select-control {
  width: 292px;
  height: 49px;
  margin-right: 70px;
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: solid 2px;
  border-color: #E5E5E5;
  border-radius: 4px;
}

.catalog-view {
  display: flex;
}

.button-view-active {
  background-image: url("/images/icons/view-1.svg");
  background-size: 16px  14px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: solid 2px;
  border-color: #000000;
  border-radius: 4px;
}

.button-view-full-screen {
  background-image: url("/images/icons/view-2.svg");
  background-size: 16px  14px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: solid 2px;
  border-color: #E5E5E5;
  border-radius: 4px;
}

.button-view-list {
  background-image: url("/images/icons/view-3.svg");
  background-size: 16px  14px;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
  border: solid 2px;
  border-color: #E5E5E5;
  border-radius: 4px;
}

.product-list {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  background-color: transparent;
  width: 340px;
  height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card > * {
  margin-top: 16px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 16px 0 0;
}

.product-card-title a {
  color: #000000;
  text-decoration-line: none;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.more-information {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.class-type-of-leaving, .class-leaving-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.product-card-button-detail {
  background-color: #756157;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.product-card-detail-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.product-card-button-like, .product-card-button-in-favorites {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.product-card-button-in-favorites {
  background-color: #7DB54F;
}

.card-rate {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  min-width: 140px;
  height: 37px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 9px 8px 8px;
  text-align: center;
}

.pagination {
  margin-left: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.pagination-item-current {
  margin-left: 0;
  margin-right: 4px;
  min-width: 60px;
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination-item-dots {
  min-width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.pagination-link-dots {
  color: #000000;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 12px 12px;
  display: block;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 12px 12px;
  display: block;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 12px 12px;
  display: block;
}

.star {
  margin: 0;
  align-self: center;
}

.subscribe-catalog {
  color: #FFFFFF;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 96px 40px 104px;
  margin: 0 auto;
  box-sizing: border-box;
}

.services-description-catalog-black {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-bottom: 54px;
  text-align: center;
  color: #333333;
}

.footer-phone a {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
}





