/*Общие стили и стили для страницы index*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.favorites {
  background-image: url("/images/icons/like.svg");
  width: 20px;
  height: 20px;
  margin: 0;
}

.button-want {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
}

.hero {
  background-image: url("/images/backgrounds/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 485px;
  text-align: center;
}

.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-title-white {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.services-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list, .visually-hidden {
  text-align: center;
}

/*Удаляю стили для списков на всех страницах (<ul>)*/
.navigation-list, .advantages-list, .services-list, .footer-social-list, .catalog-filter-group, .product-list, .pagination {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-item {
  background-color: #FFFFFF;
  text-align: center;
}

.advantages-title-white {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-item-blue {
  background-color: #82B3D3;
}

.advantages-description-white {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item-white {
  background-color: #FFFFFF;
}

.advantages-item-azure {
  background-color: #83B3D333;
}

.services-item-azure {
  background-color: #83B3D31F;
  text-align: center;
}

.image-housing {
  background-image: url("/images/icons/services-icon-housing.svg");
  background-repeat: no-repeat;
  width: 77px;
  height: 72px;
  margin: auto;
}

.image-food {
  background-image: url("/images/icons/services-icon-food.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 72px;
  margin: auto;
}

.image-gifts {
  background-image: url("/images/icons/services-icon-gifts.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 76px;
  margin: auto;
}

.services-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.services-name-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search {
  background-color: #FFFFFF;
  text-align: center;
}

.services-description-index-white {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  color: #FFFFFF;
  background-color: aquamarine;
  background-image: url("/images/backgrounds/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 96px 40px 104px;
  margin: 0 auto;
  box-sizing: border-box;
  /*box-sizing используется чтобы засуммировать паддинги с высотой и шириной*/
  /*если 2 значения: то верх/низ и лево/право*/
  /*если 3 значения: то верх лево/право и низ*/
}

.form {
  text-align: center;
}

.field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.button-subscribe {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  text-align: center;
  background-color: #FFFFFF;
}

/*Cтили для страницы catalog*/
.filter-container {
  background-image: url("/images/backgrounds/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 412px;
  max-width: 1200px;
  padding: 35px 70px 70px;
  margin: 0 auto;
}

/*Стили для внутреннего хэдера*/
.header-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
}

/*Стили для хлебных крошек*/
.breadcrumbs-item {
  font-size: 16px;
  color: #FFFFFF;
}

/*Стили для стрелки*/
.right-arrow {
  transform: rotate(-45deg);
}

i {
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration-line: none;
}

/*Стили для заголовка фильтра */
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

/*Стили для лейбла фильтра */
.control {
  line-height: 23px;
  color: #FFFFFF;
}

.price-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

/*Стили для границ выбора */
.range-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: right;
}

.button-submit, .button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  border: none;
  background-color: transparent;
}

.search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  background-color: #FFFFFF;
}

.button-view-light {
  color: #000000;
  background-color: #FFFFFF;
  border: 2px #FFFFFF;
}

.button-view {
  color: #000000;
  background-color: #FFFFFF;
  border: 2px #E5E5E5;
}

.product-card {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.class-type-of-leaving, .class-leaving-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.product-card-button-detail {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.product-card-detail-link {
  text-decoration: none;
  color: #FFFFFF;
}

.product-card-button-like {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.card-rate {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.pagination-link-dots {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.subscribe-catalog {
  color: #FFFFFF;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 415px;
  padding: 96px 40px 104px;
  margin: 0 auto;
  box-sizing: border-box;
}

.services-description-catalog-black {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.footer-phone a {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration-line: none;
}





